<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>d60405</string>
	<key>2</key>
	<string>00338e</string>
	<key>3</key>
	<string>01755e</string>
	<key>4</key>
	<string>d60405</string>
	<key>5</key>
	<string>d60405</string>
	<key>6</key>
	<string>4d0302</string>
	<key>7</key>
	<string>4d0302</string>
	<key>9</key>
	<string>d60405</string>
	<key>10</key>
	<string>2c800e</string>
	<key>11</key>
	<string>2c800e</string>
	<key>12</key>
	<string>2c800e</string>
	<key>13</key>
	<string>d60405</string>
	<key>14</key>
	<string>d60405</string>
	<key>15</key>
	<string>d60405</string>
	<key>16</key>
	<string>00338e</string>
	<key>17</key>
	<string>00338e</string>
	<key>18</key>
	<string>e50000</string>
	<key>19</key>
	<string>f77306</string>
	<key>20</key>
	<string>f77306</string>
	<key>21</key>
	<string>f77306</string>
	<key>22</key>
	<string>f77306</string>
	<key>23</key>
	<string>d60405</string>
	<key>24</key>
	<string>d60405</string>
	<key>25</key>
	<string>d60405</string>
	<key>26</key>
	<string>4d0302</string>
	<key>27</key>
	<string>4d0302</string>
	<key>28</key>
	<string>4d0302</string>
	<key>29</key>
	<string>4d0302</string>
	<key>30</key>
	<string>4d0302</string>
	<key>31</key>
	<string>4d0302</string>
	<key>32</key>
	<string>d60405</string>
	<key>33</key>
	<string>4d0302</string>
	<key>34</key>
	<string>d60405</string>
	<key>35</key>
	<string>2e88d6</string>
	<key>36</key>
	<string>2e88d6</string>
	<key>37</key>
	<string>2e88d6</string>
	<key>38</key>
	<string>2e88d6</string>
	<key>39</key>
	<string>d60405</string>
	<key>40</key>
	<string>d60405</string>
	<key>41</key>
	<string>4d0302</string>
	<key>42</key>
	<string>4d0302</string>
	<key>43</key>
	<string>4d0302</string>
	<key>44</key>
	<string>d60405</string>
</dict>
</plist>
