<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Local(Todas las lineas)</key>
	<string>$6,86</string>
	<key>511 - Golf Club</key>
	<string>$7,36</string>
	<key>511 - Col. Chapadmalal</key>
	<string>$8,96</string>
	<key>511 - San Eduardo</key>
	<string>$10,88</string>
	<key>542 - Estación Camet</key>
	<string>$7,36</string>
	<key>542 - Aquasol</key>
	<string>$8,96</string>
	<key>715/720 - Batán</key>
	<string>$8,72</string>
	<key>715/720 - Chapadmalal</key>
	<string>$9,60</string>
	<key>717 - Ruta 226, km. 10</key>
	<string>$6,12</string>
	<key>717 - Ruta 226, km. 13</key>
	<string>$8,96</string>
	<key>717 - Country Club</key>
	<string>$9,81</string>
	<key>717 - San Carlos</key>
	<string>$10,88</string>
	<key>717 - Colinas Verdes</key>
	<string>$10,88</string>
	<key>717 - Sierra de los Padres</key>
	<string>$9,36</string>
</dict>
</plist>
