<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   BusesRates.plist
   MyBus

   Created by Lisandro Falconi on 1/2/17.
   Copyright (c) 2017 Spark Digital. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>Local(Todas las lineas)</key>
        <string>$7,97</string>
        <key>511 - Golf Club</key>
        <string>$8,55</string>
        <key>511 - Col. Chapadmalal</key>
        <string>$10,41</string>
        <key>511 - San Eduardo</key>
        <string>$11,40</string>
        <key>542 - Estación Camet</key>
        <string>$8,55</string>
        <key>542 - Aquasol</key>
        <string>$10,41</string>
        <key>715/720 - Batán</key>
        <string>$10,13</string>
        <key>715/720 - Chapadmalal</key>
        <string>$11,15</string>
        <key>717 - Ruta 226, km. 10</key>
        <string>$10,41</string>
        <key>717 - Ruta 226, km. 13</key>
        <string>$10,41</string>
        <key>717 - Country Club</key>
        <string>$11,40</string>
        <key>717 - San Carlos</key>
        <string>$12,64</string>
        <key>717 - Colinas Verdes</key>
        <string>$12,64</string>
        <key>717 - Sierra de los Padres</key>
        <string>$12,64</string>
    </dict>
</plist>
